# Node.js
/node_modules

# Compiled output
/dist
/tmp

# Dependency directories
/packages

# Logs and runtime data
/logs
*.log
npm-debug.log*

# Environment variables
.env

# IDEs and editors
.idea
.vscode

# macOS
.DS_Store

# Windows
Thumbs.db
