<nav class="navbar navbar-expand navbar-light bg-light">
  <!--wrapper------------------------------------------------>
  <div class="container-fluid">
    <!--Angular project------------------------------------------------>
    <a href="#" class="navbar-brand">Angular Project</a>
    <!--Menu links ------------------------------------------------>
    <ul class="navbar-nav me-auto">
      <!--Articles ------------------------------------------------>
      <li class="nav-item">
        <a
          routerLink="/articles"
          class="nav-link"
          routerLinkActive="active"
        >Article</a>
      </li>

      <!--Contact ------------------------------------------------>
      <li class="nav-item">
        <a
          routerLink="/contact"
           class="nav-link"
           routerLinkActive="active"
        >Contact</a>
      </li>
    </ul>
  </div>
</nav>
